:root {
  font-family: 'Mandali-Regular';
  background-color: rgb(248, 241, 231);
}

@font-face {
  font-family: 'Mandali-Regular';
  src: local('Mandali-Regular'), url(./fonts/Mandali-Regular.woff) format('woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;